{% extends "base.html" %}
{% load i18n %}
{% load static markdown_extras %}
{% block content %}
  {# BANNER #}
  <div class="container-fluid home-header">
    <div class="container-fluid home-banner">
      <div class="row container justify-content-start align-content-center pt-5">
        <div class="col-6">
          {# HOME-ABOUT #}
          {% include 'modules/default.html' with content=files.0 %}

        </div>
      </div>
    </div>
    <div class="home-sec">
      {% with content=files.1|markdown %}
        <div class="text-center pt-5 text-white">
          {{ content.html | safe }}
        </div>
      {% endwith %}
      {% with content=files.2|markdown %}
        <div class="this-is-for text-center pt-5 text-white">
          <img src="{% static 'images/home/elipse.gif' %}" alt="{% translate 'Elipse' %}">
{#          <img src="images/home/elipse.gif" alt="Elipse">#}
          {{ content.html | safe }}
        </div>
      {% endwith %}
    </div>
  </div>


  <div class="home-sec">
    {% with content=files.3|markdown %}
      <div class="text-center pt-5 text-white">
        {{ content.html | safe }}
      </div>
    {% endwith %}
    {% with content=files.4|markdown %}
      <div class="join-us-content justify-content-center text-center pt-5 text-white">
        {{ content.html | safe }}
      </div>
    {% endwith %}
  </div>

  <div class="home-sec container-fluid">
    <div class="container">
      <div class="pt-5 px-5">
        {% include 'modules/dates.html' %}
      </div>
    </div>
  </div>

  <div class="container-fluid sponsors">
    <div class="container">
      <div class="row pt-5 gx-1">
        {% include 'modules/sponsors.html' with content=files.7 %}
      </div>
    </div>
  </div>
  <script>
  const months = ["december", "january", "february", "march", "april"];

  months.forEach(month => {
    const monthElement = document.getElementById(month);
    const monthSec = document.getElementsByClassName(month)[0];

    monthElement.addEventListener("click", function() {
      removeOpen();
      monthSec.classList.add("open");

    if (month === "december" && monthSec.classList.contains("open")) {
      document.getElementsByClassName("date-container")[0].style.marginLeft = "17em";
      console.log(document.getElementsByClassName("date-container")[0]);
    } else {
      document.getElementsByClassName("date-container")[0].style.marginLeft = "11em";
      console.log(document.getElementsByClassName("date-container")[0]);
    }
    });
  });

  function removeOpen() {
    // Iterate over the elements in the collection and remove the class
    Array.from(document.getElementsByClassName("open")).forEach(function(element) {
      element.classList.remove("open");
    });
  }
</script>

{% endblock content %}
