{% extends "base.html" %}
{% load static markdown_extras %}
{% block content %}
  {# BANNER #}
  <div class="container-fluid home-header">
    <div class="container-fluid home-banner">
      <div class="row justify-content-center align-content-center pt-5">
        <div class="col-10">
          {# HOME-ABOUT #}
          {% include 'modules/default.html' with content=files.0 %}

        </div>
      </div>
    </div>
    <div class="home-sec">
      {% with content=files.1|markdown %}
        <div class="text-center pt-5 text-white">
          {{ content.html | safe }}
        </div>
      {% endwith %}
      {% with content=files.2|markdown %}
        <div class="this-is-for text-center pt-5 text-white">
          {{ content.html | safe }}
        </div>
      {% endwith %}
    </div>
  </div>


  <div class="home-sec">
    {% with content=files.3|markdown %}
      <div class="text-center pt-5 text-white">
        {{ content.html | safe }}
      </div>
    {% endwith %}
    {% with content=files.4|markdown %}
      <div class="join-us-content justify-content-center text-center pt-5 text-white">
        {{ content.html | safe }}
      </div>
    {% endwith %}
  </div>

  <div class="home-sec container-fluid">
    <div class="container">
      <div class="pt-5 gx-lg-5 px-5">
        {% include 'modules/dates.html' %}
      </div>
    </div>
  </div>

  <div class="container-fluid sponsors">
    <div class="container">
      <div class="row pt-5 gx-1">
        {% include 'modules/sponsors.html' with content=files.7 %}
      </div>
    </div>
  </div>
{% endblock content %}
