{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}
    {% if menu != "Home" %}
      {{ menu }} -
    {% endif %}
    PyCon Portugal 2024
  {% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Welcome to the biggest Portugal Python event! Diverse activities, presentations, workshops and social events for beginners and professionals from everywhere.">
  <meta name="author" content="Telmo Guerra, Felipe Valverde">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="2024.pycon.pt">
  <meta property="twitter:url" content="https://2024.pycon.pt/">
  <meta name="twitter:title" content="PyCon Portugal 2024 Website">
  <meta name="twitter:description" content="Welcome to the biggest Portugal Python event! Diverse activities, presentations, workshops and social events for beginners and professionals from everywhere.">
  <meta name="twitter:image" content="https://{{ request.get_host }}{{ STATIC_URL }}images/logo/og_logo.png">
  <meta property="og:title" content="PyCon Portugal 2024 Website">
  <meta property="og:description" content="Welcome to the biggest Portugal Python event! Diverse activities, presentations, workshops and social events for beginners and professionals from everywhere.">
  <meta property="og:image" content="https://{{ request.get_host }}{{ STATIC_URL }}images/logo/og_logo.png">
  <meta property="og:url" content="https://2024.pycon.pt">
  <meta property="og:type" content="website">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CMQRE6VNNJ"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){
          dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-CMQRE6VNNJ');
  </script>

  <link rel="apple-touch-icon" sizes="180x180"
        href="{% static 'images/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32"
        href="{% static 'images/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16"
        href="{% static 'images/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
          integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
  {% endblock %}
  <!-- Le javascript
  ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}
    <!-- Bootstrap JS -->
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"
            integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Your stuff: Third-party javascript libraries go here -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- place project specific Javascript in this file -->
    <script defer src="{% static 'js/project.min.js' %}"></script>

  {% endblock javascript %}

</head>

<body>

 {% include "modals/home_modal.html" %}

 {% block navbar %}
   {% include 'modules/header.html' %}

{% endblock navbar %}

<div class="inner-body">

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock content %}

</div> <!-- /container -->

{% block modal %}{% endblock modal %}

{% block inline_javascript %}


{% endblock inline_javascript %}

{#  FOOTER #}
 {% block footer %}
{% include "modules/footer.html" %}
 {% endblock footer %}
</body>
</html>
