@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');


html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
}

.inner-body {
    background-color: #0A042C;
}

////////////////////////////////
//Variables//
////////////////////////////////
$bgPurple: #0A042C;
$purple: #9747FF;
$lightPurple: #FF00FF;

$bgWhite: #fff;
$BgBlue: #0077C9;
$BgBlack: #2C2C2C;
$BgYellow: #F9A825;
$BgDarkBlue: #1B215D;
$BgLightBlue: #D0B0F5;
$BgGreen: #468F1F;
$Green: #00969C;
$BgLightGreen: #00969C80;
$BgLightPurple: #D0B0F5;
$HomeHeaderLinks: #0580ec;

// Alert colors

$white: #F7F7F7;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$gray: #8d8d8d;
$lightgray: #b2b2b2;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
    background-color: $white;
    border-color: $mint-green;
    color: $black;
}

.alert-error {
    background-color: $pink;
    border-color: $dark-pink;
    color: $red;
}

h2 {
    padding: 0;
    color: #FFFFFF;
    font-family: Turret Road, sans-serif;
    font-size: 4em;
    font-weight: 800;
}

h3 {
    padding: 0;
    color: #FFFFFF;
    font-family: Alef, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

p, li {
    color: #FFFFFF;
    font-family: Alef, sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.simple-content {
    ul {
        padding-left: 1em;
    }

    li {
        list-style-type: disc;
    }
}

.purple-line {
    margin-top: 5em;
    opacity: 1;
    color: $purple;
}

.pink-line {
    margin-top: 5em;
    opacity: 1;
    color: $lightPurple;
}

nav {

    background-color: #0A042C;
}


.main-purple-btn {
    background-color: $purple;
    color: $bgWhite;
    border-radius: 24px;
    border: 2px solid white;

    &:hover {
        background-color: $lightPurple;
        color: white;
    }
}