// homepage

@use "base";

%HOME_TITLE {
  font-family: Turret Road, sans-serif;
  font-size: 96px;
  font-weight: 800;
}

%HOME_SECOND_TEXT {
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

%THIRD_TEXT{
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.date-container {
  display: flex;
  section {
    display: -webkit-box;
    width: 3em;
  }

  .december, .january, .february, .march, .april {
    p{
      display: none;
    }
  }

  h3 {
    @extend %THIRD_TEXT;
    width: 7em;
    height: 2em;
    color: base.$lightPurple;
    rotate: 90deg;
    border: solid;
    padding: 0.5em;
  }

  .hide-border h3 {
    color: base.$bgPurple;
    height: 3em;
    margin-top: -0.5em;
  }

  .january.open {
    transition: margin-left 0.3s ease;
    margin-left: 1em;
  }

  .march.open {

    margin-right: -4em;
  }

  .april.open {
    border-right: solid;
  }

    .open {
      //transition: margin-right 0.1s ease;
      width: fit-content;
      color: base.$lightPurple;
      margin-right: -8em;
      margin-top: -3.75em;
      height: 10.5em;
      border-top: solid;
      border-bottom: solid;
      h3 {
        margin-top: 2.44em;
      }

      #december {
        transition: margin-left 0.3s ease;
        //margin-left: -4em;
      }

      #january {
        transition: margin-left 0.3s ease;
        margin-left: -0.75em;
      }
      p {
        @extend %THIRD_TEXT;
        display: flex;
        padding: 2em;
        color: #FDFDFD;
        margin-right: 9em;
        margin-left: -3em;
      }
  }
  .march.open p {
    margin-right: 7em;
  }

  .april.open p {
    margin-right: 5em;
  }
}

.home-banner {
  background-image: url(../images/home/home_banner.gif);
  position: relative;
  z-index: 20;
  background-position-y: bottom;
  background-position: center;
}

  li {
    list-style-type: none;
  }

.home-sec {
  background-color: base.$bgPurple;

  h2 {
    @extend %HOME_TITLE !optional;
  }

  li {
    padding: 0.5em 2em;
    height: fit-content;
    width: fit-content;
    margin: 1em;
  }
  .this-is-for {
    li {
      padding: 2px;
      background: linear-gradient(90deg, rgba(255, 0, 255, .8) 20%, #9747ff 80%);
      border-radius: 50px;
      p {
        @extend %HOME_SECOND_TEXT;
        padding: 0.5em 2em;
        margin: 0;
        border-radius: 30px;
        background-color: base.$bgPurple;
      }
    }

  }
  .join-us-content {
    @extend %THIRD_TEXT;
    display: grid;
    .join-topics {
      width: fit-content;
      margin: .5em;
      padding: .5em 2em;
      border-radius: 50px;
      background: linear-gradient(90deg, rgba(255, 0, 255, 0.8) 20%, #9747FF 80%);
    }

    .empty-li {
      padding: 1em 1.3em;
    }
  }
}

#ju1 {
  margin-left: 3em;
}

#ju2 {
  margin-left: 12em;
}

#ju3 {
  margin-left: 12em;
}

#ju4 {
  margin-left: 5em;
}

#ju5 {
  margin-left: 11em;
}

.home-header {
  background-color: base.$bgPurple;
  padding-bottom: 2rem;

  .home-banner {
    .home-title {
      display: block;
      align-content: center;
      max-width: 24rem;

      .home-title-block {
        position: relative;
        top: -1.5rem;
        background: white;

        padding: 1rem;
        margin: 0rem 2rem 2rem;
        z-index: 2;
      }

      .btn-tickets {
        padding: 0rem 1rem;
        margin: 2rem 0rem;
      }

      button {
        background: white;
        padding: 1rem .75rem;
        font-weight: bold;
        width: 100%;

      }
    }

    .home_about-content {

      padding: 2rem 2rem 20rem 0;
      text-align: left;

      h2 {
        @extend %HOME_TITLE !optional;
      }

      h3 {
        @extend %THIRD_TEXT;
      }

      h4 {
        @extend %HOME_SECOND_TEXT;
      }
    }
  }
}

.sponsors {
  background-color: $bgPurple;
  text-align: center;

  h2 {
    color: #FDFDFD;
    font-family: Turret Road, sans-serif;
    font-size: 88px;
    font-weight: 800;
  }

  h3 {
    color: #FDFDFD;
    font-family: Turret Road, sans-serif;
    font-size: 36px;
    font-weight: 700;
  }

  blockquote {
    a {
      border: 1px solid #FF00FF;
      padding: 20px 30px;
      margin: 10px;
      display: flex;
      align-items: center;
      width: fit-content;
    }
  }

  .flex-sponsors-organizer {
    blockquote {
      p {
        display: flex;
        justify-content: center;
      }
    }
  }

  .card {
    background-color: base.$white;
    border-radius: 16px;
  }

  .card-other-dates {
    background-color: transparent;
    border: unset;
    font: normal normal normal 24px/44px Poppins;

  }

}

.content-newsletter {
  background: linear-gradient(to bottom, base.$white 0%, base.$white 50%, base.$BgBlack 50%, base.$BgBlack 100%) !important;

}



.home-sponsors {
  &.important-dates {
    .dates {

      .calendar {
        display: block;

        blockquote {
          display: block !important;
          width: 100%;
          padding-right: 1.5rem;

          h4 {
            font: normal normal bold 24px/35px Poppins;
          }

          blockquote {
            display: block !important;
            width: auto;
            padding-top: .875rem;

            p {
              margin-bottom: 1rem;
            }
          }

          p {
            margin-bottom: 0rem;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .pycon-btn {
    font-size: 15px !important;
    line-height: 25px !important;
  }

  .dates {
    .important-date-card {
      strong {
        font-size: 50px !important;
      }

      p {
        font-size: 20px !important;
      }
    }

    strong {
      font-size: 25px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .card-other-dates {
    font-size: 20px !important;
    line-height: 30px !important;
  }

  .sponsors {

    .container {
      text-align: center !important;
      text-align: -webkit-center !important;
    }
  }
}

#last {
  margin-left: 0.5em;
}

.text-align-webit-center {
  text-align: -webkit-center;
}
