// homepage

@use "base";

.display-flex {
  display: flex;
}

.date-div {
  height: 25em;
}

.date-container {
  background-color: #0A042C;
  rotate: -90deg;
  width: 15em;
  .data-content {
    transition: height .3s ease;
    height: 0vw;
  }
  p {
    opacity: 0;
    visibility: hidden;
  }
  h3 {
    rotate: 180deg;
    border: solid;
    margin: 0;
    padding: 0.5em;
    color: base.$lightPurple;
  }
  .open {
    .data-content {
      transition: height .3s ease;
      display: flex;
      align-items: center;
      border: solid 1px base.$lightPurple;
      height: 50vw;
      p {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.4s ease 0.2s;
        color: #FDFDFD;
        display: grid;
        rotate: 90deg;
      }
    }
  }
}

%HOME_TITLE {
  font-family: Turret Road, sans-serif;
  font-size: 6em;
  font-weight: 800;
}

%HOME_SECOND_TEXT {
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

%THIRD_TEXT{
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.home-banner {
  background-image: url(../images/home/home_banner.gif);
  position: relative;
  z-index: 20;
  background-position-y: bottom;
  background-position: center;
  background-size: cover;
}

  li {
    list-style-type: none;
  }

.home-sec {
  background-color: base.$bgPurple;

  h2 {
    @extend %HOME_TITLE !optional;
  }

  li {
    padding: 0.5em 2em;
    height: fit-content;
    width: fit-content;
    margin: 1em;
  }
  .this-is-for {
    li {
      padding: 2px;
      background: linear-gradient(90deg, rgba(255, 0, 255, .8) 20%, #9747ff 80%);
      border-radius: 50px;
      p {
        @extend %HOME_SECOND_TEXT;
        padding: 0.5em 2em;
        margin: 0;
        border-radius: 30px;
        background-color: base.$bgPurple;
      }
    }

  }
  .join-us-content {
    @extend %THIRD_TEXT;
    display: grid;
    .join-topics {
      width: fit-content;
      margin: .5em;
      padding: .5em 2em;
      border-radius: 50px;
      background: linear-gradient(90deg, rgba(255, 0, 255, 0.8) 20%, #9747FF 80%);
    }

    .empty-li {
      padding: 1em 1.3em;
    }
  }
}

#ju1 {
  margin-left: 3em;
}

#ju2 {
  margin-left: 12em;
}

#ju3 {
  margin-left: 12em;
}

#ju4 {
  margin-left: 5em;
}

#ju5 {
  margin-left: 11em;
}

.home-header {
  background-color: base.$bgPurple;
  padding-bottom: 2rem;

  .home-banner {
    .home-title {
      display: block;
      align-content: center;
      max-width: 24rem;

      .home-title-block {
        position: relative;
        top: -1.5rem;
        background: white;

        padding: 1rem;
        margin: 0rem 2rem 2rem;
        z-index: 2;
      }

      .btn-tickets {
        padding: 0rem 1rem;
        margin: 2rem 0rem;
      }

      button {
        background: white;
        padding: 1rem .75rem;
        font-weight: bold;
        width: 100%;

      }
    }

    .home_about-content {

      padding: 2rem 2rem 20rem 0;
      text-align: left;

      h2 {
        @extend %HOME_TITLE !optional;
      }

      h3 {
        @extend %THIRD_TEXT;
      }

      h4 {
        @extend %HOME_SECOND_TEXT;
      }
    }
  }
}

.sponsors {
  background-color: base.$bgPurple;
  text-align: center;

  h2 {
    color: #FDFDFD;
    font-family: Turret Road, sans-serif;
    font-size: 88px;
    font-weight: 800;
  }

  h3 {
    color: #FDFDFD;
    font-family: Turret Road, sans-serif;
    font-size: 36px;
    font-weight: 700;
  }

  blockquote {
    a {
      border: 1px solid #FF00FF;
      padding: 20px 30px;
      margin: 10px;
      display: flex;
      align-items: center;
      width: fit-content;
    }
  }

  .flex-sponsors-organizer {
    blockquote {
      p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  .card {
    background-color: base.$white;
    border-radius: 16px;
  }
}

.content-newsletter {
  background: linear-gradient(to bottom, base.$white 0%, base.$white 50%, base.$BgBlack 50%, base.$BgBlack 100%) !important;

}


.text-align-webit-center {
  text-align: -webkit-center;
}

@media (max-width: 768px) {
  .date-div {
    justify-content: center;
    rotate: 0deg;
    .date-container {
      rotate: 0deg;
    }
    h3 {
      rotate: 0deg;
    }
    .data-content {
      transition: max-height ease 0.3s;
      max-height: 0;
    }
    .date-container .open .data-content {
      max-height: 100px;
      transition: max-height ease 0.3s;
      height: fit-content;
      overflow: hidden;
      p {
        padding: 1em;
        rotate: 0deg;
      }
    }

  }
  .home-header {
    .home-banner {
      .home_about-content {
        padding: 2em 2em 15em 0;
      }
    }
  }
  %HOME_TITLE {
    font-family: Turret Road, sans-serif;
    font-size: 3.5em;
    font-weight: 800;
  }

  %HOME_SECOND_TEXT {
    font-size: 1em;
  }

  %THIRD_TEXT{
    font-size: 1em;
  }
  #last, #_1 {
    display: none;
  }

}

@media (max-width: 992px) {

  .join-us-content {
    padding: 1em;
    justify-items: center;
  }
  #ju1, #ju2, #ju3, #ju4, #ju5 {
    margin: 0.5em 0;
  }
}

@media (max-width: 576px) {
  .this-is-for {
    img {
      display: none;
    }
  }
}

