@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

html, body {
  overflow-x: hidden;
  background-color: #0A042C;
}

body {
  font-family: "Poppins", sans-serif;
}

.inner-body {
  min-height: 68vh;
  background-color: #0A042C;
}

.alert-debug {
  background-color: #F7F7F7;
  border-color: #d6e9c6;
  color: #000;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

h2 {
  padding: 0;
  color: #FFFFFF;
  font-family: Turret Road, sans-serif;
  font-size: 4em;
  font-weight: 800;
}

h3 {
  padding: 0;
  color: #FFFFFF;
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

p, li {
  color: #FFFFFF;
  font-family: Alef, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.simple-content ul {
  padding-left: 1em;
}
.simple-content li {
  list-style-type: disc;
}

.purple-line {
  margin-top: 5em;
  opacity: 1;
  color: #9747FF;
}

.pink-line {
  margin-top: 5em;
  opacity: 1;
  color: #FF00FF;
}

nav {
  background-color: #0A042C;
}

.main-purple-btn {
  background-color: #9747FF;
  color: #fff;
  border-radius: 24px;
  border: 2px solid white;
}
.main-purple-btn:hover {
  background-color: #FF00FF;
  color: white;
}

.text-align-left {
  text-align: left !important;
}

.purple-border {
  border: solid 1px #FF00FF;
}

html, body {
  overflow-x: hidden;
  background-color: #0A042C;
}

body {
  font-family: "Poppins", sans-serif;
}

.inner-body {
  min-height: 68vh;
  background-color: #0A042C;
}

.alert-debug {
  background-color: #F7F7F7;
  border-color: #d6e9c6;
  color: #000;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

h2 {
  padding: 0;
  color: #FFFFFF;
  font-family: Turret Road, sans-serif;
  font-size: 4em;
  font-weight: 800;
}

h3 {
  padding: 0;
  color: #FFFFFF;
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

p, li {
  color: #FFFFFF;
  font-family: Alef, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.simple-content ul {
  padding-left: 1em;
}

.simple-content li {
  list-style-type: disc;
}

.purple-line {
  margin-top: 5em;
  opacity: 1;
  color: #9747FF;
}

.pink-line {
  margin-top: 5em;
  opacity: 1;
  color: #FF00FF;
}

nav {
  background-color: #0A042C;
}

.main-purple-btn {
  background-color: #9747FF;
  color: #fff;
  border-radius: 24px;
  border: 2px solid white;
}

.main-purple-btn:hover {
  background-color: #FF00FF;
  color: white;
}

.text-align-left {
  text-align: left !important;
}

.purple-border {
  border: solid 1px #FF00FF;
}

.custom-footer {
  background-color: #0A042C;
  color: #FDFDFD;
  position: relative;
  padding-top: 8vh;
}
@media (max-width: 768px) {
  .custom-footer {
    padding-bottom: 20vh !important;
  }
}
.custom-footer .footer-container {
  border-top: 1px solid #9747FF;
  border-bottom: 1px solid #9747FF;
  padding-left: 48px;
  padding-left: 3rem;
  padding-right: 48px;
  padding-right: 3rem;
}
.custom-footer .footer-title {
  font-family: Turret Road, sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #FFFFFF;
  padding-left: 3em;
}
.custom-footer a {
  color: #FF00FF;
}
.custom-footer .footer-social-media-link {
  padding: 4px;
  padding: 0.25rem;
}
.custom-footer .footer-end {
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  color: #FF00FF;
}
.custom-footer .footer-end p {
  margin: 2px;
  margin: 0.125rem;
  padding: 0px;
  padding: 0rem;
}
@media (min-width: 768px) {
  .custom-footer .footer-end p {
    width: auto;
  }
}
.custom-footer .footer-links {
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
.custom-footer .footer-links .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
  background-color: #FF00FF;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.custom-footer .footer-social-media-link {
  display: contents;
  width: auto;
}
.custom-footer .footer-site-map {
  padding-top: 51px;
  padding-top: 3.1875rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
}

@media (max-width: 575.98px) {
  .custom-footer .footer-social-media-link .nav-link {
    width: available;
    padding: 0.5rem 2.5%;
  }
  .custom-footer .footer-site-map {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .custom-footer .footer-site-map .footer-title {
    padding-top: 2rem;
  }
}
@media (max-width: 991.98px) {
  .custom-footer {
    text-align: center !important;
  }
  .custom-footer .footer-container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .custom-footer .social-media-title {
    padding: 0;
    text-align: center;
  }
  .custom-footer .footer-links {
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
html, body {
  overflow-x: hidden;
  background-color: #0A042C;
}

body {
  font-family: "Poppins", sans-serif;
}

.inner-body {
  min-height: 68vh;
  background-color: #0A042C;
}

.alert-debug {
  background-color: #F7F7F7;
  border-color: #d6e9c6;
  color: #000;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

h2 {
  padding: 0;
  color: #FFFFFF;
  font-family: Turret Road, sans-serif;
  font-size: 4em;
  font-weight: 800;
}

h3 {
  padding: 0;
  color: #FFFFFF;
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

p, li {
  color: #FFFFFF;
  font-family: Alef, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.simple-content ul {
  padding-left: 1em;
}

.simple-content li {
  list-style-type: disc;
}

.purple-line {
  margin-top: 5em;
  opacity: 1;
  color: #9747FF;
}

.pink-line {
  margin-top: 5em;
  opacity: 1;
  color: #FF00FF;
}

nav {
  background-color: #0A042C;
}

.main-purple-btn {
  background-color: #9747FF;
  color: #fff;
  border-radius: 24px;
  border: 2px solid white;
}

.main-purple-btn:hover {
  background-color: #FF00FF;
  color: white;
}

.text-align-left {
  text-align: left !important;
}

.purple-border {
  border: solid 1px #FF00FF;
}

.black-nav {
  background-color: #0A042C !important;
}
.black-nav ul {
  border-color: white !important;
}
.black-nav ul a {
  color: white !important;
}
.black-nav .dropdown-menu {
  background: #0A042C !important;
}
.black-nav ul a:hover.dropdown-item:hover {
  background-color: #F7F7F7 !important;
  color: #0A042C !important;
}

.header {
  background-color: #0A042C;
}
.header .navbar-brand img {
  max-width: 80px;
}
.header .navbar-toggler:hover {
  background-color: white !important;
}
.header .navbar-toggler i {
  color: #F7F7F7;
  font-size: 42px;
}
.header .navbar-toggler i:hover {
  color: #0A042C;
}
.header ul {
  padding: 11.2px;
  padding: 0.7rem;
}
.header ul a, .header ul a:hover {
  text-decoration: none;
}
.header ul a.dropdown-item, .header ul a:hover.dropdown-item {
  color: white;
}
.header ul a.dropdown-item:hover, .header ul a:hover.dropdown-item:hover {
  background-color: white !important;
  color: #0A042C !important;
}
.header ul a.dropdown-item a, .header ul a:hover.dropdown-item a {
  font-size: 42px;
}
.header ul .nav-link::after {
  display: none;
}
.header ul .nav-link {
  font-family: Alef, serif;
  font-size: 16px;
  font-weight: 700;
}
.header .dropdown-menu {
  background: #0A042C;
  border: 1px solid #f7f7f7;
}

@media (max-width: 991px) {
  .header .dropdown-menu {
    border: unset;
  }
}
html, body {
  overflow-x: hidden;
  background-color: #0A042C;
}

body {
  font-family: "Poppins", sans-serif;
}

.inner-body {
  min-height: 68vh;
  background-color: #0A042C;
}

.alert-debug {
  background-color: #F7F7F7;
  border-color: #d6e9c6;
  color: #000;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

h2 {
  padding: 0;
  color: #FFFFFF;
  font-family: Turret Road, sans-serif;
  font-size: 4em;
  font-weight: 800;
}

h3 {
  padding: 0;
  color: #FFFFFF;
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

p, li {
  color: #FFFFFF;
  font-family: Alef, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.simple-content ul {
  padding-left: 1em;
}

.simple-content li {
  list-style-type: disc;
}

.purple-line {
  margin-top: 5em;
  opacity: 1;
  color: #9747FF;
}

.pink-line {
  margin-top: 5em;
  opacity: 1;
  color: #FF00FF;
}

nav {
  background-color: #0A042C;
}

.main-purple-btn {
  background-color: #9747FF;
  color: #fff;
  border-radius: 24px;
  border: 2px solid white;
}

.main-purple-btn:hover {
  background-color: #FF00FF;
  color: white;
}

.text-align-left {
  text-align: left !important;
}

.purple-border {
  border: solid 1px #FF00FF;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date-div {
  height: 25em;
}

.date-container {
  background-color: #0A042C;
  width: 15em;
}

.home-header .home-banner .home_about-content h2, .home-sec h2 {
  font-family: Turret Road, sans-serif;
  font-size: 6em;
  font-weight: 800;
}

.home-header .home-banner .home_about-content h4, .home-sec .this-is-for li p {
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.home-header .home-banner .home_about-content h3, .home-sec .join-us-content {
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.home-banner {
  background-image: url(../images/home/home_banner.gif);
  position: relative;
  z-index: 20;
  background-position-y: bottom;
  background-position-x: center;
  background-size: 115%;
}

li {
  list-style-type: none;
}

.home-sec {
  background-color: #0A042C;
}
.home-sec li {
  padding: 0.5em 2em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em;
}
.home-sec .this-is-for li {
  padding: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(255, 0, 255, 0.8)), color-stop(80%, #9747ff));
  background: linear-gradient(90deg, rgba(255, 0, 255, 0.8) 20%, #9747ff 80%);
  border-radius: 50px;
}
.home-sec .this-is-for li p {
  padding: 0.5em 2em;
  margin: 0;
  border-radius: 30px;
  background-color: #0A042C;
}
.home-sec .join-us-content {
  display: grid;
}
.home-sec .join-us-content .join-topics {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5em;
  padding: 0.5em 2em;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(255, 0, 255, 0.8)), color-stop(80%, #9747FF));
  background: linear-gradient(90deg, rgba(255, 0, 255, 0.8) 20%, #9747FF 80%);
}
.home-sec .join-us-content .empty-li {
  padding: 1em 1.3em;
}

#ju1 {
  margin-left: 3em;
}

#ju2 {
  margin-left: 12em;
}

#ju3 {
  margin-left: 12em;
}

#ju4 {
  margin-left: 5em;
}

#ju5 {
  margin-left: 11em;
}

.home-header {
  background-color: #0A042C;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}
.home-header .home-banner .home-title {
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 384px;
  max-width: 24rem;
}
.home-header .home-banner .home-title .home-title-block {
  position: relative;
  top: -24px;
  top: -1.5rem;
  background: white;
  padding: 16px;
  padding: 1rem;
  margin: 0px 32px 32px;
  margin: 0rem 2rem 2rem;
  z-index: 2;
}
.home-header .home-banner .home-title .btn-tickets {
  padding: 0px 16px;
  padding: 0rem 1rem;
  margin: 32px 0px;
  margin: 2rem 0rem;
}
.home-header .home-banner .home-title button {
  background: white;
  padding: 16px 12px;
  padding: 1rem 0.75rem;
  font-weight: bold;
  width: 100%;
}
.home-header .home-banner .home_about-content {
  padding: 32px 32px 320px 0;
  padding: 2rem 2rem 20rem 0;
  text-align: left;
}
.sponsors {
  background-color: #0A042C;
  text-align: center;
}
.sponsors h2 {
  color: #FDFDFD;
  font-family: Turret Road, sans-serif;
  font-size: 88px;
  font-weight: 800;
}
.sponsors h3 {
  color: #FDFDFD;
  font-family: Turret Road, sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.sponsors blockquote a {
  border: 1px solid #FF00FF;
  padding: 20px 30px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.sponsors .card {
  background-color: #F7F7F7;
  border-radius: 16px;
}

.flex-sponsors-organizer blockquote a {
  border: 1px solid #FF00FF;
  padding: 20px 30px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.flex-sponsors-organizer blockquote p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-newsletter {
  background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), color-stop(50%, #F7F7F7), color-stop(50%, #2C2C2C), to(#2C2C2C)) !important;
  background: linear-gradient(to bottom, #F7F7F7 0%, #F7F7F7 50%, #2C2C2C 50%, #2C2C2C 100%) !important;
}

.text-align-webit-center {
  text-align: -webkit-center;
}

@media (max-width: 992px) {
  .join-us-content {
    padding: 1em;
    justify-items: center;
  }
  #ju1, #ju2, #ju3, #ju4, #ju5 {
    margin: 0.5em 0;
  }
}
@media (max-width: 576px) {
  .this-is-for img {
    display: none;
  }
}
.flex-sponsors-organizer h3 {
  text-align: center;
  color: #FDFDFD;
  font-family: Turret Road, sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.flex-sponsors-organizer blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-sponsors-organizer blockquote p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.ellipsis-rotating {
  display: inline-block;
  -webkit-animation: rotating 8s linear infinite;
          animation: rotating 8s linear infinite;
}

.dates-row > div {
  padding: 1em 2em;
  border: 1px solid #FF00FF;
}
@media (max-width: 991.98px) {
  .dates-row > div {
    padding: 1em 1em;
  }
}

.dates-row h2 {
  text-align: center;
  padding: 32px;
  padding: 2rem;
}
.dates-row p {
  margin: 0;
}

.dates-row .month-container h3 {
  color: #FF00FF !important;
}

.tickets-section {
  text-align: left;
}
.tickets-section h2 {
  padding: 32px;
  padding: 2rem;
}
.tickets-section h4 {
  font-family: "Turret Road", sans-serif;
  font-size: 48px;
  font-size: 3rem;
  font-weight: 800;
  line-height: 52.46px;
  text-align: left;
  padding: 16px 32px;
  padding: 1rem 2rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(255, 0, 255, 0.8)), color-stop(80%, #9747FF));
  background: linear-gradient(90deg, rgba(255, 0, 255, 0.8) 20%, #9747FF 80%);
}
.tickets-section .detail {
  font-family: Alef, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left;
}
.tickets-section .price {
  font-family: "Turret Road", sans-serif;
  font-size: 62px;
  font-size: 3.875rem;
  font-weight: 800;
  line-height: 67.77px;
  text-align: left;
}
.tickets-section p {
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32.68px;
  text-align: left;
}
.tickets-section .col-content {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #FF00FF;
}
.tickets-section a {
  color: white;
  text-decoration: none;
}
.tickets-section .row > * {
  padding-bottom: 32px !important;
  padding-bottom: 2rem !important;
}

.free-ticket-section h2 {
  padding: 32px;
  padding: 2rem;
}
.free-ticket-section p {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html, body {
  overflow-x: hidden;
  background-color: #0A042C;
}

body {
  font-family: "Poppins", sans-serif;
}

.inner-body {
  min-height: 68vh;
  background-color: #0A042C;
}

.alert-debug {
  background-color: #F7F7F7;
  border-color: #d6e9c6;
  color: #000;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

h2 {
  padding: 0;
  color: #FFFFFF;
  font-family: Turret Road, sans-serif;
  font-size: 4em;
  font-weight: 800;
}

h3 {
  padding: 0;
  color: #FFFFFF;
  font-family: Alef, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

p, li {
  color: #FFFFFF;
  font-family: Alef, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.simple-content ul {
  padding-left: 1em;
}

.simple-content li {
  list-style-type: disc;
}

.purple-line {
  margin-top: 5em;
  opacity: 1;
  color: #9747FF;
}

.pink-line {
  margin-top: 5em;
  opacity: 1;
  color: #FF00FF;
}

nav {
  background-color: #0A042C;
}

.main-purple-btn {
  background-color: #9747FF;
  color: #fff;
  border-radius: 24px;
  border: 2px solid white;
}

.main-purple-btn:hover {
  background-color: #FF00FF;
  color: white;
}

.text-align-left {
  text-align: left !important;
}

.purple-border {
  border: solid 1px #FF00FF;
}

table {
  border: solid white 1px;
}

td, th {
  color: #FFFFFF;
  padding: 0.5em;
  border: #FF00FF solid 1px;
}

blockquote p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

blockquote {
  text-align: -webkit-center;
}

#sponsors {
  text-align: center;
}

.secondary-logo {
  height: auto;
  max-height: 100px;
  max-width: 200px;
  width: auto;
}

.swiper-buttons {
  position: relative;
  width: 70px;
  margin-left: auto;
  margin-top: -30px;
}
.swiper-buttons .swiper-button-next {
  position: relative;
  float: right;
  color: white;
}
.swiper-buttons .swiper-button-next:after {
  font-size: 20px;
  line-height: 20px;
}
.swiper-buttons .swiper-button-prev {
  position: relative;
  float: left;
  color: white;
}
.swiper-buttons .swiper-button-prev:after {
  font-size: 20px;
  line-height: 20px;
}

.swiper {
  overflow: clip;
  padding-top: 50px;
  text-align: end;
}
.swiper .swiper-description {
  font: italic normal 100 16px/25px Poppins;
  display: inline-block;
  margin: -5px 5px auto auto;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
}
.swiper-wrapper .swiper-slide {
  width: 380px;
}
.swiper-wrapper .swiper-slide p {
  display: inline-block;
}
.swiper-wrapper .swiper-slide img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 380px;
  height: 250px;
  pointer-events: none;
}

.altice-logo {
  max-height: 150px;
  max-width: 350px;
  height: auto;
  width: auto;
}